

	section.contact {
    	padding: 5rem 0;
    	scroll-margin: clamp(1rem,16vmin,7.5rem);
        background-color: var(--c1);
        position:relative;
        z-index: 1;
        box-sizing: border-box;
	}

	.contact > .base_width {
        max-width: 70rem;
        margin-inline: auto;
        background-color: var(--light);
        padding: clamp(3rem,9vw,4rem) clamp(2rem,8vw,6rem);
        box-sizing: border-box;
        box-shadow: 0 0rem 5rem 1rem var(--c1-a);
        border: 0.1rem solid var(--light-a);
        border-radius: 8rem 3rem;
}

	form .title {
		text-align: center;
		font-size: clamp(2rem,8vw,4.5rem);
        color: var(--c1);
        width: auto;
        font-weight: 700;
	}

    form .title + p {
        text-align: center;
        margin: 0 auto 3rem;
        line-height: 1.5;
        font-size: clamp(1.4rem,3.5vmin,1.7rem);
        color: var(--grey);
    }

    .overflow_ctnr {
        position: absolute;
        inset: 0;
        top:-10rem;
        bottom:-10rem;
        overflow: hidden;
        z-index: -1;
    }

    .scale_ctnr {
        width: var(--roulette-size);
        height: var(--roulette-size);
        transform: scale(2.8);
        -webkit-transform: scale(2.8);
        -moz-transform: scale(2.8);
        -ms-transform: scale(2.8);
        -o-transform: scale(2.8);
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: auto;
}

    .gradient_cone {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin-inline: auto;
        left: 0;
        right: 0;
        background-image: conic-gradient(rgba(255,255,255,0),rgba(255,255,255,0.12));
        animation: spin 4s linear infinite;
        -webkit-animation: spin 4s linear infinite;
}


    /* Form defaults */

    form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: clamp(1.5rem, 2vw, 2rem);
        font-size: 1.45rem;
        justify-content: space-evenly;
        width: 100%;
    }

    form p {
        flex: 1;
        min-width: clamp(10rem, 62vw, 23rem);
    }

    form > .flex {
        justify-content: space-between;
        gap: clamp(1.5rem, 2vw, 2rem);
        flex-flow: row wrap;
    }

    form label {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        font-weight: 600;
        line-height: 1.4;
        font-size: 1.6rem;
    }

    input,
    textarea,
    select {
        padding: clamp(0.8rem, 2vw, 1.2rem) clamp(0.8rem, 2vw, 2.2rem);
        border-radius: 0.6rem;
        border: unset;
        background-color: var(--light-a);
        font-size: 1em;
        box-sizing: border-box;
        display: block;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        border-radius: 3rem;
        font-family: 'Open Sans', sans-serif;
    }

    input:focus-visible, textarea:focus-visible, select:focus-visible {
        outline-color: var(--c1);
        outline-width: 0.3rem;
    }

    textarea {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        min-height: 13rem;
        height: 13rem;
        max-height: 25rem;
    }

    form button[type='submit'] {
        display: block;
        margin: 0 auto;
        font-size: 1.8rem;
        background-color: var(--c2-b);
        color: var(--c1);
        padding: 1.3rem 1rem;
        border-radius: 5rem;
        /* margin-top: clamp(2rem, 8vw, 3.5rem); */
        cursor: pointer;
        font-weight: 500;
        border: 0.3rem solid var(--c1);
        background-color: var(--dark);
        position: relative;
        box-shadow: 0 1.3rem 1rem -1rem var(--light-b);
        transition: background-color 0.4s ease, color 0.4s ease;
        line-height: 1;
        margin-top: 2rem;
        width: 100%;
        max-width: 25rem;
    }

    body form button[type='submit']:hover {
        background-color: var(--grey);
        color:var(--c1-a);
        transition: background-color 0.1s ease, color 0.1s ease;
        -webkit-transition: background-color 0.1s ease, color 0.1s ease;
        -moz-transition: background-color 0.1s ease, color 0.1s ease;
        -ms-transition: background-color 0.1s ease, color 0.1s ease;
        -o-transition: background-color 0.1s ease, color 0.1s ease;
}

    form button[type='submit']::before, form button[type='submit']::after {
        content:'';
        border-bottom: 0.4rem solid var(--highlight);
        border-right: 0.4rem solid var(--highlight);
        border-top: 0.4rem solid transparent;
        border-left: 0.4rem solid transparent;
        transform: translateY(-50%) rotate(-45deg);
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -moz-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        -o-transform: translateY(-50%) rotate(-45deg);
        position:absolute;
        top: 50%;
    }

    form button[type='submit']::before {
        left: -1.8rem;
    }

    form button[type='submit']::after {
        right: -1.4rem;
    }

    form button[type='submit'].disabled {
        background-color: var(--c2-e);
        font-weight: 500;
        pointer-events: none;
    }

    body form button[type='submit'].submitted {
        background-color: var(--c1);
        color: var(--light);
        font-weight: 600;
        pointer-events: none;
        border-color: var(--dark);
    }