

	section.contact {
    	padding: clamp(3rem,19vw,9rem) 0 clamp(3rem,19vw,11rem);
    	scroll-margin: clamp(1rem,16vmin,7.5rem);
        background-color: var(--c1);
        background-image: linear-gradient(160deg, var(--c2) 10%, var(--c1) 50%);
        position:relative;
        z-index: 1;
        min-height: 100vh;
        box-sizing: border-box;
	}

	.contact > .ctnr {
		width: clamp(9rem,89vw,62rem);
		margin-inline: auto;
		background-color: var(--light);
		padding: clamp(3rem,9vw,5rem) clamp(2rem,6vw,6rem) 0;
		box-sizing: border-box;
		border-radius: 2rem;
    	box-shadow: 0 1.3rem 1rem -1rem var(--light-b);
        border: 0.1rem solid var(--light-a);
	}

	form .title {
		text-align: center;
		font-size: clamp(2rem,8vw,4.5rem);
		color:var(--primary-a);
        width: auto;
	}

    form .title + p {
        text-align: center;
        margin: 0 auto 3rem;
        line-height: 1.5;
        font-size: clamp(1.4rem,3.5vmin,1.7rem);
        color: var(--grey);
    }


    /* Form defaults */

    form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: clamp(1.5rem, 2vw, 2rem);
        font-size: 1.45rem;
        justify-content: space-evenly;
        width: 100%;
    }

    form p {
        flex: 1;
        min-width: clamp(10rem, 62vw, 23rem);
    }

    form > .flex {
        justify-content: space-between;
        gap: clamp(1.5rem, 2vw, 2rem);
        flex-flow: row wrap;
    }

    form label {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        font-weight: 500;
        line-height: 1.4;
        font-size: 1.6rem;
    }

    input,
    textarea,
    select {
        padding: clamp(0.8rem, 1vw, 1rem);
        border-radius: 0.6rem;
        border: unset;
        background-color: var(--light-a);
        font-size: 1em;
        box-sizing: border-box;
        display: block;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    textarea {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        min-height: 13rem;
        height: 13rem;
        max-height: 25rem;
    }

    form button[type='submit'] {
        display: block;
        margin: 0 auto;
        font-size: 1.8rem;
        background-color: var(--c2-b);
        color: var(--light);
        padding: 1.2rem 3rem;
        border-radius: 0.6rem;
        /* margin-top: clamp(2rem, 8vw, 3.5rem); */
        cursor: pointer;
        font-weight: 500;
        border: 0.2rem solid var(--light-a);
        transform: translateY(50%);
        background-color: var(--highlight);
        position:relative;
        box-shadow: 0 1.3rem 1rem -1rem var(--light-b);
        transition: background-color 0.4s ease, color 0.4s ease;
    }

    body form button[type='submit']:hover {
        background-color: var(--light);
        transition: background-color 0.1s ease,color 0.1s ease;
        color: var(--highlight-a);
    }

    form button[type='submit']::before, form button[type='submit']::after {
        content:'';
        border-bottom: 0.4rem solid var(--highlight);
        border-right: 0.4rem solid var(--highlight);
        border-top: 0.4rem solid transparent;
        border-left: 0.4rem solid transparent;
        transform: translateY(-50%) rotate(-45deg);
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -moz-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        -o-transform: translateY(-50%) rotate(-45deg);
        position:absolute;
        top: 50%;
    }

    form button[type='submit']::before {
        left: -1.8rem;
    }

    form button[type='submit']::after {
        right: -1.4rem;
    }

    form button[type='submit'].disabled {
        background-color: var(--c2-e);
        font-weight: 500;
        pointer-events: none;
    }

    body form button[type='submit'].submitted {
        background-color: var(--light-a);
        color: var(--highlight);
        font-weight: 600;
        pointer-events: none;
        border-color: var(--highlight);
    }