main {
    width: clamp(10rem, 81vw, 90rem);
    margin: calc(var(--header-height) + 5rem) auto 10rem;
}

h1 {

}

h2 {
    margin-block: 3rem 1.2rem;
    font-size: 3rem;
    color: var(--primary-a);
}

p {
    font-size: clamp(1.5rem,3.8vw,1.7rem);
    margin-bottom: 1rem;
    line-height: 1.6;
}