---
import Layout from "../layouts/Layout.astro";
import ContactSection from "../components/ContactSection.astro";

---

<Layout title="Contact Us - freshOps">
    <div class="scale_ctnr">
        <div class="gradient_cone"></div>
    </div>

    <div class="contact_sec_ctnr">
        <ContactSection/>
    </div>
</Layout>

<style>
    body {
        background-color: var(--c1);
    }

    .contact_sec_ctnr {
        padding-block: calc(var(--header-height) * 1.3);
    }

    .scale_ctnr {
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }

    .gradient_cone {
        position: relative;
        overflow: hidden;
        width: 90rem;
        height: 90rem;
        margin-inline: auto;
        left: 0;
        right: 0;
        background-image: conic-gradient(rgba(255,255,255,0),rgba(255,255,255,0.12));
        animation: spin 8s linear infinite;
        -webkit-animation: spin 8s linear infinite;
    }
</style>