---
import Layout from "../layouts/Layout.astro";

import '../styles/text-pages.css'

---

<Layout title="Terms of Service - freshOps">
    <main>
        <div class="content">
            <h1>Privacy Policy of freshOps.com</h1>

            <p>FreshOps.com collects some Personal Data from its Users.</p>

            <p>Users may be subject to different protection standards and broader standards may therefore apply to some. Users can contact the Owner, to learn more about such standards.</p>

            <p>This document can be printed for reference by using the print command in the settings of any browser.</p>

            <hr>

            <h2>Full Policy</h2>

            <h3>Owner and Data Controller</h3>

            <p>Get Fresh Group Pty Ltd, 904 Stanley St East, Woolloongabba, Qld, 4169</p>

            <p>Owner contact email: privacy@freshops.com.au</p>

            <hr>

            <h3>Types of Data collected</h3>

            <p>Among the types of Personal Data that freshOps.com collects, by itself or through third parties, there are: email address; Cookies; Usage Data; company name; first name; last name; unique device identifiers for advertising (Google Advertiser ID or IDFA, for example); various types of Data; phone number; Data communicated while using the service; device information; session statistics.</p>

            <p>Complete details on each type of Personal Data collected are provided in the dedicated sections of this privacy policy or by specific explanation texts displayed prior to the Data collection.</p>

            <p>Personal Data may be freely provided by the User, or, in case of Usage Data, collected automatically when using freshOps.com.</p>

            <p>Unless specified otherwise, all Data requested by freshOps.com is mandatory and failure to provide this Data may make it impossible for freshOps.com to provide its services. In cases where freshOps.com specifically states that some Data is not mandatory, Users are free not to communicate this Data without consequences to the availability or the functioning of the Service.</p>

            <p>Users who are uncertain about which Personal Data is mandatory are welcome to contact the Owner.</p>

            <p>Any use of Cookies – or of other tracking tools — by freshOps.com or by the owners of third-party services used by freshOps.com serves the purpose of providing the Service required by the User, in addition to any other purposes described in the present document and in the Cookie Policy.</p>

            <p>Users are responsible for any third-party Personal Data obtained, published or shared through freshOps.com.</p>

            <hr>

            <h3>Mode and place of processing the Data</h3>
            
            <h4>Methods of processing</h4>

            <p>The Owner takes appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.</p>

            <p>The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Owner, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of freshOps.com (administration, sales, marketing, legal, system administration) or external parties (such as third-party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Owner at any time.</p>

            <h4>Place</h4>

            <p>The Data is processed at the Owner's operating offices and in any other places where the parties involved in the processing are located.</p>

            <p>Depending on the User's location, data transfers may involve transferring the User's Data to a country other than their own. To find out more about the place of processing of such transferred Data, Users can check the section containing details about the processing of Personal Data.</p>

            <h4>Retention time</h4>

            <p>Unless specified otherwise in this document, Personal Data shall be processed and stored for as long as required by the purpose they have been collected for and may be retained for longer due to applicable legal obligation or based on the Users’ consent.</p>

            <hr>

            <h3>The purposes of processing</h3>

            <p>The Data concerning the User is collected to allow the Owner to provide its Service, comply with its legal obligations, respond to enforcement requests, protect its rights and interests (or those of its Users or third parties), detect any malicious or fraudulent activity, as well as the following: User database management, Analytics, Contacting the User, Backup saving and management, Content commenting, Data transfer outside the EU, Interaction with external social networks and platforms, Remarketing and behavioral targeting, SPAM protection, Handling payments, Displaying content from external platforms, Tag Management, Managing contacts and sending messages, Advertising, Interaction with live chat platforms, Registration and authentication, Platform services and hosting, Access to third-party accounts, Managing data collection and online surveys, Interaction with online survey platforms, Interaction with data collection platforms and other third parties, Heat mapping and session recording, Content performance and features testing (A/B testing), Traffic optimization and distribution and Hosting and backend infrastructure.</p>

            <p>For specific information about the Personal Data used for each purpose, the User may refer to the section “Detailed information on the processing of Personal Data”.</p>

            <hr>

            <h3>Facebook permissions asked by freshOps.com</h3>

            <p>FreshOps.com may ask for some Facebook permissions allowing it to perform actions with the User's Facebook account and to retrieve information, including Personal Data, from it. This service allows freshOps.com to connect with the User's account on the Facebook social network, provided by Facebook Inc.</p>

            <p>For more information about the following permissions, refer to the Facebook permissions documentation and to the Facebook privacy policy.</p>

            <p>The permissions asked are the following:</p>

            <h4>Basic information</h4>

            <p>By default, this includes certain User’s Data such as id, name, picture, gender, and their locale. Certain connections of the User, such as the Friends, are also available. If the User has made more of their Data public, more information will be available.</p>

            <h4>Tracker</h4>

            <p>Tracker indicates any technology - e.g Cookies, unique identifiers, web beacons, embedded scripts, e-tags and fingerprinting - that enables the tracking of Users, for example by accessing or storing information on the User’s device.</p>

            <hr>

            <h3>Detailed information on the processing of Personal Data</h3>

            <p>Personal Data is collected for the following purposes and using the following services:</p>

            <div class="box">
                <h4>Access to third-party accounts</h4>
                <p>This type of service allows freshOps.com to access Data from your account on a third-party service and perform actions with it.</p>

                <p>These services are not activated automatically, but require explicit authorization by the User.</p>

                <h5>Facebook account access (Facebook, Inc.)</h5>

                <p>This service allows freshOps.com to connect with the User's account on the Facebook social network, provided by Facebook, Inc.</p>

                <p>Permissions asked: Tracker.</p>

                <p>Place of processing: United States – Privacy Policy.</p>
            </div>

            <div class="box">
                <h4>Advertising</h4>

                <p>This type of service allows User Data to be utilized for advertising communication purposes. These communications are displayed in the form of banners and other advertisements on freshOps.com, possibly based on User interests.</p>

                <p>This does not mean that all Personal Data are used for this purpose. Information and conditions of use are shown below.</p>

                <p>Some of the services listed below may use Trackers to identify Users or they may use the behavioral retargeting technique, i.e. displaying ads tailored to the User’s interests and behavior, including those detected outside freshOps.com. For more information, please check the privacy policies of the relevant services.</p>

                <p>Services of this kind usually offer the possibility to opt out of such tracking. In addition to any opt-out feature offered by any of the services below, Users may learn more on how to generally opt out of interest-based advertising within the dedicated section "How to opt-out of interest-based advertising" in this document.</p>

                <h5>Facebook Lookalike Audience (Facebook, Inc.)</h5>

                <p>Facebook Lookalike Audience is an advertising and behavioral targeting service provided by Facebook, Inc. that uses Data collected through Facebook Custom Audience in order to display ads to Users with similar behavior to Users who are already in a Custom Audience list on the base of their past use of freshOps.com or engagement with relevant content across the Facebook apps and services.</p>

                <p>On the base of these Data, personalized ads will be shown to Users suggested by Facebook Lookalike Audience. Users can opt out of Facebook's use of cookies for ads personalization by visiting this opt-out page.</p>
                
                <p>Personal Data processed: Cookies; Usage Data.</p>

                <p>Place of processing: United States – <a href="https://www.facebook.com/privacy/policy/?entry_point=data_policy_redirect&entry=0">Privacy Policy</a> – <a href="https://optout.aboutads.info/?c=2&lang=EN">Opt Out</a>.</p>

                <h5>Facebook Audience Network (Facebook, Inc.)</h5>

                <p>Facebook Audience Network is an advertising service provided by Facebook, Inc. In order to understand Facebook's use of Data, consult Facebook's data policy.</p>

                <p>FreshOps.com may use identifiers for mobile devices (including Android Advertising ID or Advertising Identifier for iOS, respectively) and technologies similar to cookies to run the Facebook Audience Network service. One of the ways Audience Network shows ads is by using the User's ad preferences. The User can control this in the Facebook ad settings.</p>

                <p>Users may opt-out of certain Audience Network targeting through applicable device settings, such as the device advertising settings for mobile phones or by following the instructions in other Audience Network related sections of this privacy policy, if available.</p>

                <p>Personal Data processed: Cookies; unique device identifiers for advertising (Google Advertiser ID or IDFA, for example); Usage Data.</p>

                <p>Place of processing: United States – <a href="https://www.facebook.com/privacy/policy/?entry_point=data_policy_redirect&entry=0">Privacy Policy</a> – <a href="https://www.facebook.com/settings?tab=ads">Opt Out</a>.</p>

                <h5>LinkedIn Ads (LinkedIn Ireland Unlimited Company)</h5>

                <p>LinkedIn Ads is an advertising service provided by LinkedIn Ireland Unlimited Company.</p>

                <p>Personal Data processed: Trackers; Usage Data.</p>

                <p>Place of processing: Ireland – <a href="https://www.linkedin.com/legal/privacy-policy">Privacy Policy</a> – <a href="https://www.linkedin.com/legal/privacy-policy">Opt Out</a>.</p>
            </div>

            <div class="box">
                <h4>Analytics</h4>

                <p>The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to keep track of User behavior.</p>

                <h5>Google Analytics (Google LLC)</h5>

                <p>Google Analytics is a web analysis service provided by Google LLC (“Google”). Google utilizes the Data collected to track and examine the use of freshOps.com, to prepare reports on its activities and share them with other Google services.</p>

                <p>Google may use the Data collected to contextualize and personalize the ads of its own advertising network.</p>

                <p>Personal Data processed: Cookies; Usage Data.</p>

                <p>Place of processing: United States – <a href="https://policies.google.com/privacy">Privacy Policy</a> – <a href="https://tools.google.com/dlpage/gaoptout?hl=en">Opt Out</a>.</p>

                <h5>Google Analytics Advertising Reporting Features (Google LLC)</h5>

                <p>Google Analytics on freshOps.com has Advertising Reporting Features activated, which collects additional information from the DoubleClick cookie (web activity) and from device advertising IDs (app activity). It allows the Owner to analyze specific behavior and interests Data (traffic Data and Users' ads interaction Data) and, if enabled, demographic Data (information about the age and gender).</p>

                <p>Users can opt out of Google's use of cookies by visiting Google's Ads Settings.</p>

                <p>Personal Data processed: Cookies; unique device identifiers for advertising (Google Advertiser ID or IDFA, for example); various types of Data as specified in the privacy policy of the service.</p>

                <p>Place of processing: United States – Privacy Policy – Opt Out.</p>
            </div>
        </div>
    </main>
</Layout>