---
import Layout from "../layouts/Layout.astro";

import '../styles/text-pages.css'

---

<Layout title="Terms of Service - freshOps">
    <main>
        <div class="content">
            <h1>Privacy Policy of freshOps.com</h1>

            <p>FreshOps.com collects some Personal Data from its Users.</p>

            <p>Users may be subject to different protection standards and broader standards may therefore apply to some. Users can contact the Owner, to learn more about such standards.</p>

            <p>This document can be printed for reference by using the print command in the settings of any browser.</p>

            <hr>

            
        </div>
    </main>
</Layout>