---

---

<div id="cookie-consent-banner" class="cookie-consent-banner">
    <div class="flex">
        <div class="content">
            <h3>Cookie settings</h3>
            <p>We use cookies to provide you with the best possible experience. They also allow us to analyze user behavior in order to constantly improve the website for you.</p>
        </div>
    
        <div class="options">
            <div class="bt_ctnr">
                <button id="btn-accept-all" class="cookie-consent-button accept">Accept All</button>
                <button id="btn-accept-some" class="cookie-consent-button accept_selection">Accept Selection</button>
                <button id="btn-reject-all" class="cookie-consent-button reject">Reject All</button>
            </div>
        
            <div class="cookie-consent-options">
            <label><input id="consent-necessary" type="checkbox" value="Necessary" checked disabled>Necessary</label>
            <label><input id="consent-analytics" type="checkbox" value="Analytics" checked>Analytics</label>
            <label><input id="consent-preferences" type="checkbox" value="Preferences" checked>Preferences</label>
            <label><input id="consent-marketing" type="checkbox" value="Marketing">Marketing</label>
            </div>
        </div>
    </div>
</div>

<script>
    import "../scripts/consent.js"
</script>

<style>

.cookie-consent-banner {
    display: none;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    background-color: var(--dark-a);
    color: var(--c1-a);
    padding: 3rem clamp(1.3rem,5vw,5rem);
    text-align: center;
    z-index: 11;
    margin-inline: auto;
    box-sizing: border-box;
    border-radius: 2rem 5rem;
    border: 0.1rem solid var(--c1-a);
    max-width: var(--max-width);
}

.cookie-consent-banner > .flex {
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}

.cookie-consent-banner .content {
    flex: 1;
    min-width: 23rem;
    max-width: 57rem;
    height: fit-content;
}

.cookie-consent-banner .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.cookie-consent-banner h3 {
    font-size: clamp(1.6rem,7vw,3rem);
    margin-bottom: 0.7rem;
    font-weight: 700;
    line-height: 1;
    width: auto;
}

.cookie-consent-banner h3 + p {
    font-weight: 400;
    line-height: 1.4;
    margin-inline: auto;
    font-size: clamp(0.8rem,3.4vw,1.5rem);
    color: var(--light);
}

.cookie-consent-banner .bt_ctnr {
    display: flex;
    flex-flow: row wrap;
    gap: 1.2rem;
    justify-content: center;
}

.cookie-consent-button {
    border: none;
    padding: 0.9rem 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    flex: 1;
    transition: box-shadow 0.15s ease;
    color: var(--primary-a);
    border: 0.1rem solid transparent;
}

.cookie-consent-button:hover {
    box-shadow: 0 0 1rem var(--primary-b);
}

.cookie-consent-button:active {
    opacity: .5;
}

.cookie-consent-button.accept {
    background-color: var(--c1-a);
    color: var(--dark);
    min-width: 100%;
    font-weight: 700;
}

.cookie-consent-button.accept_selection {
    background-color: var(--grey);
    color: var(--light);
}

.cookie-consent-button.reject {
    color: var(--light);
    border: 0.1rem solid var(--grey);
}

.cookie-consent-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(1rem, 2vw, 2rem);
}

.cookie-consent-options label {
    /* margin: 0 clamp(0rem, 1vw, 1rem); */
    font-size: 14px;
    color: var(--light-a);
}

.cookie-consent-options input {
    margin-right: 5px;
    accent-color: var(--c1-a);
}




@media screen and (min-width:900px) {
    .cookie-consent-button.accept {
        min-width: unset;
    }

    .cookie-consent-button {
        flex: unset;    
        padding-inline: 3rem;
    }

    .cookie-consent-banner .content {
        text-align: left;
    }

    .cookie-consent-banner > .flex {
        justify-content: space-between;
        margin-inline: auto;
    }
}

</style>