---
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;

import BaseHead from '../components/BaseHead.astro';

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';

import CookieConsentBanner from "../components/CookieConsentBanner.astro";
import OQVABadge from '../components/OQVABadge.astro';
---

<!doctype html>
<html lang="en">
	<BaseHead title={title} description={description ? description : "DEFAULT DESCRIPTION"}/>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCPCSBBR"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<Header/>
		
		<slot />

		<Footer/>
	</body>

	<CookieConsentBanner></CookieConsentBanner>

	<OQVABadge/>
</html>